{% load dajaxice_templatetags %}
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <title>Shaastra 2013</title>
    {% dajaxice_js_import %}
    <link type="text/css" rel="stylesheet" href="{{site_url}}static/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="{{site_url}}static/css/fbapp.css">
  </head>
  <body>
    <script>
    window.fbAsyncInit = function() {
      FB.init({
	appId      : '291744470918252', // App ID
        channelUrl : '//www.shaastra.org/2013/main/static/fb/channel.html', // Channel File
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : false  // parse XFBML
      });

      // Additional initialization code here
      FB.getLoginStatus(function(response) {
	if(response.status === 'connected') {
//	  alert('connected');
	  uid = response.authResponse.userID;
          accessToken = response.authResponse.accessToken;
        } else if(response.status === 'not_authorized') {
//          alert('not_authorized');
	  FB.login(function(response) {
	    if (response.authResponse) {
	      uid = response.authResponse.userID;
              accessToken = response.authResponse.accessToken;
	    } else {
	      window.location="http://www.facebook.com/Shaastra";
	    }
	  });
        }
      });	
    };

  // Load the SDK Asynchronously
  (function(d){
    var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement('script'); js.id = id; js.async = true;
    js.src = "//connect.facebook.net/en_US/all.js";
    ref.parentNode.insertBefore(js, ref);
  }(document));
  </script>
    <div class="container-fluid">
      <div class="row-fluid">
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	      <ul class="nav">
		<li><a href="http://www.shaastra.org/" target="_blank">Shaastra</a></li>
		<li><a href="{{site_url}}fbhack/logout">Logout</a></li>
	      </ul>
	    </div>
	  </div>
	</div>
      </div>
      <div id="container" class="row-fluid">
	<div class="span6">
	  <div id="posts" class="row-fluid">
	    <!--Body content-->
	    <p class="text-info"> Click on a post to add likes/shares </p>
	    <table class="table">
	      <thead>
		<th>#</th>
		<th>Post</th>
		<th>Link</th>
		<th>Likes<br>(likes given)</th>
		<th>Shares<br>(shares given)</th>
	      </thead>
	    </table>
	    <div class="accordion" id="accordion2">
	      {% for p in posts %}
	      <div class="accordion-group">
		<div class="accordion-heading">
		  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#post{{p.id}}">
		  {{forloop.counter}} {{p.desc}} 
		  </a>
		</div>
		<div id="post{{p.id}}" class="accordion-body collapse">
		  <div class="accordion-inner">
		  Link: <a href="{{p.link}}" target="_blank">Click Here</a> Likes:{{p.likes}}({{p.likes_given}}) Shares:{{p.shares_given}}({{p.shares_given}})<br>
		  <strong> Add</strong>		  
		  <form id="add{{p.id}}" action="/likes/" method="POST">
		    {% csrf_token %}
		    {{ add_form.as_table }}
		    <p><input type="hidden" id="id_pid" value="{{p.id}}" name="pid" /></p>
		    <p><button type="submit" class="btn btn-primary"> Add </button></p>

		  </form>		  
		  </div>
		</div>
	      </div>
	      {% endfor %}
	    </div>
	  </div>
	</div>
	<div class="span6">
	  <div id="users" class="row-fluid">
	  <!--Body content-->
	  <table class="table">
	    <thead>
	      <th>#</th>
	      <th>User</th>
	      <th>Likes Used</th>
	      <th>Shares Used</th>
	    </thead>
	    {% for u in users %}
	    {% if u.active %}
	    <tr class="success">
	    {% else %}
	    <tr class="error">
	    {% endif %}
	    <td>{{forloop.counter}}</td>
	    <td>{{u.name}}</td>
	    <td>{{u.likes_used}}</td>
	    <td>{{u.shares_used}}</td>
	    </tr>
	    {% endfor %}
	  </table>
	  </div>
	</div>
      </div>
    </div>
    <script type="text/javascript" src="{{site_url}}static/js/jquery.dajax.core.js" charset = "utf-8"></script>
    
    <script type="text/javascript" src="{{site_url}}static/js/jquery.js" charset = "utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{site_url}}static/scripts/bootstrap.min.js" charset = "utf-8"></script>
<!--    <script type="text/javascript" src="{{site_url}}static/js/bootstrap-dropdown.js" charset = "utf-8"></script>
    <script type="text/javascript" src="{{site_url}}static/js/bootstrap-collapse.js" charset = "utf-8"></script>
    <script type="text/javascript" src="{{site_url}}static/js/bootstrap-transition.js" charset = "utf-8"></script>
    <script type="text/javascript" src="{{site_url}}static/js/bootstrap-carousel.js" charset = "utf-8"></script>-->
    <script type="text/javascript">

    </script>
  </body>
</html>